.question{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    border: 1px solid var(--ion-color-primary);
    text-shadow: 1px var(--ion-color-primary-shade);
}

.other-question{
    background: var(--ion-card-background);
    color: #2ECC71;
    padding-left: 3%;
    border: 1px solid var(--ion-color-primary);
    text-shadow: 1px var(--ion-color-primary-shade);
}
.my-question{
    background: var(--ion-color-primary);
    color: #CDFFE4;
    padding-left: 3%;
    border: 1px solid var(--ion-color-primary);
    text-shadow: 1px var(--ion-color-primary-shade);
}
#time{
    color: #ffffff;
    float: right;
    font-size: small;
}
ion-title{
    color: #CDFFE4;
}

.picture{
    width: 3%;
    height: 3%;
}