ion-button{
    position: fixed;
    bottom: 2%;
    right: 5%;
}

ion-tab-bar {
    background-color: ion-background-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.ti{
    padding: 5%;
}

.alerta{
    padding: 5%;
}
.alertaA{
    padding: 5%;
    color: #CDFFE4;
}
.txt{
    justify-content: center;
    padding-left: 10%;
    padding-right: 5%;
    text-align: center;
}
ion-title{
    color: #CDFFE4;
}