<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title slot="start">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-picker></ion-picker>

  <ion-grid class="avat">
    <ion-img src="../../assets/p_pics/1.png" value="avat" class=""></ion-img>
  </ion-grid>
  <ion-col>
    <ion-row></ion-row>
  </ion-col>
</ion-content>