ion-tab-bar {
    background-color: ion-background-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3%;
}
ion-button {
    margin: 20px;
}
.usernameReveal{
    text-align: left;
    margin-right: 10%;
}