<ion-content>

  <ion-item lines="full" detail="true">
    <ion-avatar slot="end">
      <img [src]="question.pic"/>
    </ion-avatar>
    <ion-label>
      {{question?.user}}
    </ion-label>
  </ion-item>

</ion-content>

<!--<ion-toolbar (click)="answer()" color="primary">
          <ion-avatar slot="end">
            <img [src]="question.avat" />
          </ion-avatar>
        <b>{{ question.user }}</b><br><br>
        <span>{{ question.qst }}</span>
        <div id="time" text-right>
          <br>
          {{ question.createdAt | date:'short'}}
        </div>
        </ion-toolbar>-->