.alerta{
    padding: 5%;
}
.alertaA{
    padding: 5%;
    color: #CDFFE4;
}
.txt{
    justify-content: center;
    padding-left: 10%;
    padding-right: 5%;
    text-align: center;
}
ion-title{
    color: #CDFFE4;
}