ion-searchbar{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}
ion-header {
    ion-toolbar {
        font-family: "Satisfy", cursive !important;
        ion-title{
            letter-spacing: 2px;
            font-size: 1.8rem !important;
        }
    }
}