<ion-header [translucent]="true">
      <ion-searchbar placeholder="Buscar" color="primary"></ion-searchbar>

  <ion-segment [value]="segment" mode="md" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="status">
      <ion-label>Estado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chats">
      <ion-label>Mensajes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calls">
      <ion-label>Llamadas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>  
<ion-content color="light">
   <ion-list *ngIf="segment == 'chats'">
    <ion-list-header class="ion-padding-bottom" color="light">
      Chats recientes
    </ion-list-header>
    <ion-item detail>
      <ion-avatar slot="start">
        <img [src]="'https://cdn.wikimg.net/es/splatoonwiki/images/6/6f/Don_Oso.png'"/>
      </ion-avatar>
      <ion-label>
        Osote
        <p>
          <ion-text *ngIf="auth.user$ | async as user">
            No, esto no es un mensaje y no, {{user.name}}, no estamos hablando. No, tampoco se abre.
          </ion-text>
        </p>
      </ion-label>
      <ion-text slot="end" color="medium">
        2:14
      </ion-text>
    </ion-item>
   </ion-list>
   <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newChat()">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
   </ion-fab>
   <ion-modal #new_chat [isOpen]="open_new_chat" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Nuevo Chat</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()"> Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">

      </ion-content>
    </ng-template>
   </ion-modal>
</ion-content>