ion-tab-bar {
    background-color: ion-background-color;
    border-radius: 15px ;
    margin-top: 2% ;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
}

ion-tabs {
    margin-left: 17%;
    margin-right: 17%;
}