ion-tab-bar {
    background-color: ion-background-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

