ion-title{
    
    color: #CDFFE4;
}

ion-toolbar{
    border-radius: 16px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    
}

.secundario{
    width: 40%;
    opacity: 0.5;
    margin-left: 10%;
    
}

.pregunta{
    width: 80%;
    margin-left: 10%;
    
}
.titprg{
    margin-top: 2%;
    margin-left: 7%;
    color: #CDFFE4;
    
}
ion-textarea{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    
}

ion-button{
    margin-left: 80%;
}

/*
ion-title{
    
}*/